
#text-area{
  margin:auto;
  
}

#a-btn {
  margin:auto;
}


#msg-btn{
border-radius: 4px;
background-color:rgb(127, 173, 243);
color:white;
margin-bottom:20px;
float:center;
font-family:"bignoodletoo";
letter-spacing: 2px;
padding:5px;
margin:5px;
margin-top:20px;
}

#msg-btn:hover{
  background-color:rgb(169, 199, 245);
  color:white;
  }


  