
  
#login-form{
  border: .5px solid;
  width:50%;
  background-color:rgba(53, 52, 52, 0.349);
  margin-top:20px;
  margin:auto;
}

#login-text{
    
  color:rgb(196, 196, 196);
  font-family: 'Archivo', sans-serif;
  font-size: 20px;
}