h1 {
  color: rgb(255, 255, 255);
  font-family: "bignoodletoo";
  letter-spacing: 2px;
  text-align: center;
  /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
}

h2 {
    color:rgb(228, 226, 226);
    font-family:"bignoodletoo"; 
    letter-spacing: 2px;
    text-align:center;
    font-size:40px;
   /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
  }

  #page-div{
    margin-top:100px;
  }

.mygroups {
  margin-top: 2%;
}

.creategroupSearch {
  background-color: blue;
  width: 100%;
}

.buttons {
  padding: 20px;
  margin: auto;
  width: 50%;
  margin-top: 20%;
}

body {
  background-color: rgb(223, 219, 219);
  padding-bottom: 150px;
}

.card {
  border: 1px solid rgb(155, 154, 154);
  margin-top: 5%;
}

.list-group-item {
  font-family: "bignoodletoo";
  letter-spacing: 2px;
}

#group-name {
  color: #f09731;
  font-size: 20px;
}
