#Footer{
    background-color:rgb(24, 23, 23, 0.2);
    text-align:center;
    width: 100%;
    color:rgb(185, 182, 182);

  
}

#menu-outer {
	height: 84px;
	background: url("") repeat-x;
}

.table {
	display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

ul#horizontal-list {
	min-width: 696px;
	list-style: none;
	padding-top: 20px;
    }
    
	ul#horizontal-list li {
		display: inline;
    }
    a{
        padding:30px;
        color:rgb(153, 151, 151);
    }

    a:hover{
        color:#f09731;
    }