
.container {
	width:100%;
 }

form{
	background-color:rgba(44, 44, 44, 0);
}
.submit-button{
	width: 100%;
	float:right;
	background-color:rgb(85, 157, 240);
	border: none;
	color:#ffffff;
	font-family:"bignoodletoo";
	letter-spacing: 2px;
	padding:10px;
	font-size: 20px;
	border-radius:4px; 
}

.submit-button:hover {
  background-color: rgb(44, 43, 43); 
  color: #f09731;
}

.form-group{
	font-family:"bignoodletoo";
	letter-spacing: 2px;
}

@media only screen and (min-width: 425px) {

	 
	 .submit-button{
		 width:20%;
		 float:right;
		 background-color:rgb(85, 157, 240);
		 border: none;
		 color:#ffffff;
		 font-family:"bignoodletoo";
		 letter-spacing: 2px;
		 padding:10px;
		 font-size: 20px;
		 border-radius:4px; 
	 }
	 
}