.recent-results {
  width: 85%;
  background-color: rgba(207, 207, 241, 0.233);
  border: 1px solid rgb(255, 255, 255);
  border-radius: 4px;
  margin: 0 auto;
}

.list-group-item-a {
  font-family: "bignoodletoo";
  letter-spacing: 2px;
  border: 0px solid rgb(255, 255, 255);
  background-color: rgb(255, 255, 255);
  font-size: 20px;
  padding-top: 10px;
  list-style: none;
}

.list-group-item1 {
  font-family: "bignoodletoo";
  letter-spacing: 2px;
  text-align: left;
  color: rgb(255, 255, 255);
  font-size: 20px;
  padding-top: 10px;
  list-style: none;
  margin-left: 10px;
}

/* ####################################
   ###### FOR MOBILE PHONES ###########
   #################################### */
@media only screen and (max-width: 747px) {
  .recent-results {
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
}
