.results-box{
  width:50%;
margin: auto;
margin-bottom:50px;
}

.search-group-btn{
    background-color: #badff5;
    font-family:"bignoodletoo";
    font-size:25px;
    letter-spacing: 2px;
}

@media only screen and (max-width: 425px) {

    .results-box{
        width:100%;
      margin: auto;
    margin-bottom:50px;
      }
}