
.form-control {
    height: 100%;
    font-family: initial;
    font-size: initial;
    letter-spacing: initial;
    text-align:initial;
    font-size:initial;
}

#footer-space{
    height:150px;
}


.newGroup-submit {
    border-radius: 4px;
    background-color: #7fe07f;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    width: 100px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family:"bignoodletoo";
    letter-spacing: 2px;
  }
  
  .newGroup-submit:hover {
    background-color: rgb(44, 43, 43); 
    color: #f09731;
  }

input, label, select {
    font-family: "bignoodletoo" !important;
}