#settings-btn{
    background-color:rgb(24, 23, 23, 0.2);
    border: none;
    color:#afafaf;
    font-family:"bignoodletoo";
    letter-spacing: 2px;
   
  }
  
  #settings-btn:hover { 
    color:#ffffff;
}