#settings-btn{
    background-color:rgb(24, 23, 23, 0.2);
    border: none;
    color:#d4d3d3;
    font-family:"bignoodletoo";
    letter-spacing: 2px;
    margin-top:10px;
    margin-left:2px;
    font-size: 20px;
   
  }
  
  #settings-btn:hover { 
    color:#ffffff;
}

.pmodal-button2{
  color:black;
}