#settings-btn{
    background-color:rgb(250, 142, 0);
    border: none;
    color:#ffffff;
    font-family:"bignoodletoo";
    letter-spacing: 2px;
    margin-top:10px;
    margin-left:5px;
    font-size: 20px;
    border-radius:2px;
    margin-right:20px;
  
  }
  
  #settings-btn:hover { 
    color:#ffffff;
    background-color:rgb(252, 198, 98);
}

.pmodal-button{
  letter-spacing: 1px;
border-radius:4px;
width:80px;
color:black;
height:30px;

}

.pmodal-update-btn{

letter-spacing: 1px;
border-radius:4px;
width:80px;
color:black;
height:30px;

}

.pmodal-logout{
  letter-spacing: 0px;
border-radius:4px;
width:80px;
color:rgb(48, 47, 47);
height:30px;
border: 1px solid rgb(156, 156, 156);
font-family: Futura, "Trebuchet MS", Arial, sans-serif;
font-size:15px;
text-align:center;
float:left;
}

