

h1 {
    font-family:"bignoodletoo"; 
    letter-spacing: 2px;
    text-align:center;
    font-size:80px;
    margin-top:100px;
    
    
   /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
  }



  h3{
    text-align:center;
    color:rgb(196, 196, 196);
     font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    
  }


  
  .button1, .button2{
    margin:auto;
    
  }

.button1{
    margin-top: 60px;
}

  .button2{
    margin-top:95px;
  }


  body{

    background-image: url("../../images/background2.jpg");
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    
  }

  #overwatch-char{
    background-image: url("../../images/sombra.png"); 
    background-repeat:no-repeat;
    height:500px;
   
  }

  #overwatch-char2{
    background-image: url("../../images/char6.png"); 
    background-repeat:no-repeat;
    height:500px;
  
  }
  
.mygroups{
    margin-bottom:200px;
    
margin-left:10%;

}



/* @media only screen and (max-width: 1024px) and (min-width: 426px)  {
    .mygroups{
        margin-bottom:300px;
        margin-top:100px;
        margin-left:25%;
        width:100%
    }

    h1 {
        font-family:"bignoodletoo"; 
        letter-spacing: 2px;
        text-align:center;
        font-size:80px;
        margin-top:100px;
        margin-left:50%;
        width:100%;
        
      
      }
      h3{
        text-align:center;
        color:rgb(196, 196, 196);
        font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        margin-left:50%;
        width:100%;
      }
} */


@media only screen and (max-width: 425px) {
    /* For mobile phones: */

    h1 {
        font-family:"bignoodletoo"; 
        letter-spacing: 2px;
        text-align:center;
        font-size:60px;
        margin-top:50px;
        /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
      }
    
      h2 {
        color:rgb(199, 199, 199);
        font-family:"bignoodletoo"; 
        letter-spacing: 2px;
        text-align:center;
        font-size:15px;
      
       /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
      }
    
      h3{
        text-align:center;
        color:rgb(196, 196, 196);
         font-family: Futura, "Trebuchet MS", Arial, sans-serif;
        font-size:15px;
      }
    
    
      
      .button1, .button2{     
          margin:auto;       
      }
    
    
    
    
      body{   
        background-image: url("../../images/background2.jpg");    
      }
      
    .mygroups{
        margin-bottom:300px;
        margin-top:100px;      
    }
    
}