#groups-image {
  background-image: url("../../images/group.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center center;
  height: 120px;
}

h1 {
  font-family: "bignoodletoo";
  letter-spacing: 2px;
  text-align: center;
  font-size: 60px;
  margin-top: 80px;
}

body {
  background-image: url("../../images/background2.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #999;
}

.mygroups {
  margin-bottom: 100px;
  margin-top: 30px;
  padding: 10px;
}

@media only screen and (min-width: 425px) and (max-width: 1023px) {
  h1 {
    font-family: "bignoodletoo";
    letter-spacing: 2px;
    text-align: center;
    font-size: 60px;
    margin-top: 150px;
  }

  body {
    background-image: url("../../images/background2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  #groups-image {
    background-image: url("../../images/group.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    background-position: center center;
  }

  .mygroups {
    margin-bottom: 300px;
    margin-top: 50px;
  }
}

@media only screen and (min-width: 1024px) {
  h1 {
    font-family: "bignoodletoo";
    letter-spacing: 2px;
    text-align: center;
    font-size: 80px;
    margin-top: 100px;
  }

  body {
    background-image: url("../../images/background2.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
  }

  #groups-image {
    background-image: url("../../images/group.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 300px;
  }

  .mygroups {
    margin-bottom: 200px;
    margin-top: 20px;
  }

  .card {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
  }
}
