h1 {
    color:rgb(34, 34, 34);
    font-family:"bignoodletoo";
    letter-spacing: 2px;
   text-align:center;
  }

  .mygroups{
    margin-top:2%;
  }

  .creategroupSearch{
      background-color:blue;
      width:100%;
  }

  .buttons{
      padding:20px;
      margin:auto;
      width:50%;
      margin-top:20%;
  }

  body{
      background-color:rgb(223, 219, 219);
  }
  