h1 {
    color:rgb(255, 255, 255);
    font-family:"bignoodletoo"; 
    letter-spacing: 2px;
    text-align:center;
    font-size:80px;
    
   /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
  }

  h2 {
    color:rgb(228, 226, 226);
    font-family:"bignoodletoo"; 
    letter-spacing: 2px;
    text-align:center;
  
    font-size:50px;

   /* font-family: Futura, "Trebuchet MS", Arial, sans-serif; */
  }

  h3{
    text-align:center;
    color:rgb(196, 196, 196);
     font-family: Futura, "Trebuchet MS", Arial, sans-serif;
    
  }


  
  .button1, .button2{
      padding:10px;
      margin:auto;
      width:50%;
    
  }

.button1{
    margin-top: 60px;
}

  .button2{
    margin-top:95px;
  }


  body{

    background-image: url("../../images/background2.jpg");

     
  }
  
.mygroups{
    margin-bottom:300px;
    margin-top:100px;
   
}

